@tailwind base;
@tailwind components;
@tailwind utilities;

.site-body {
  width: 770px;
  margin: 0 auto;
}

.footer {
  padding-bottom: 25px;
}

@media (max-width: 800px) {
  .site-body {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
