.container {
    display: flex;
}

.sidebar-menu {
    max-width: 200px;
    width: 100%;
    flex: 0 0 auto; /* Prevent the sidebar from growing */
    padding: 10px 0 0 0; /* Padding Top */
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}

.content {
    flex: 1; /* Allow the content to grow and take up remaining space */
    padding: 10px 0 0 10px; /* Top, Right, Bottom, Left padding */
}

.search-bar {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        all:unset
    }

    .sidebar-menu {
        all:unset
    }

    .content {
        all:unset
    }
}

